<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% unless user.closed %>
      <%= render user %>
      <%= link_to "Show this user", user %>
      <br><br>
    <% else %>
      <% if current_user.admin %>
        <%= render user %>
        <span class="badge bg-danger">Closed</span><br>
        <%= link_to "Show this user", user %>
        <br><br>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class:"btn btn-primary" %>
