<h1><%= @style.name %></h1>
<br>
<div>
  <b>Description:</b>
  <%= @style.description %>
</div>
<br>
<h3>Beers</h3>
<div>
  <table class="table table-striped table-hover">
    <% @style.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <%= edit_and_destroy_buttons(@style) %>
  <%= link_to "Back to styles", styles_path, class:"btn btn-primary" %>
</div>
