<div>
  <b>Name:</b>
  <%= @style.name %>
</div>
<div>
  <b>Description:</b>
  <%= @style.description %>
</div>
<div>
  <b>Beers:</b>
  <ul>
    <% @style.beers.each do |beer| %>
    <li><%= beer.name %></li>
    <% end %>
  </ul>
</div>
<div>
  <%= edit_and_destroy_buttons(@style) %>
  <%= link_to "Back to styles", styles_path, class:"btn btn-primary" %>
</div>
