<div id="<%= dom_id brewery %>">
  <h2>
    <strong>Name:</strong>
    <%= brewery.name %>
  </h2>

  <i>
    Established in
    <%= brewery.year %>
  </i>

  <p>
    Number of beer types:
    <%= @brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    Brewery has
    <%= pluralize(brewery.ratings.count, "rating") %>
    <% if brewery.ratings.count != 0 %>
      with the average of
      <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
