<div id="<%= dom_id brewery %>">
  <h1>
    <%= brewery.name %>
  </h1>

  <i>
    Established in
    <%= brewery.year %>
  </i>
  <br><br>

  <ul class="list-group">
    <li class="list-group-item"><strong>Beer Types</strong></li>
    <% brewery.beers.each do |beer| %>
      <li class="list-group-item"><%= link_to beer.name, beer %></li>
    <% end %>
  </ul>
  <br>
  <p>
    Brewery has
    <%= pluralize(brewery.ratings.count, "rating") %>
    <% if brewery.ratings.count != 0 %>
      with the average of
      <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
