<p style="color: green"><%= notice %></p>

<% content_for :title, "Beers" %>

<h1>Beers</h1>

<p>
  <%= link_to "Breweries", breweries_path %>
</p>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
    <% if beer.ratings.empty? %>
      beer has not yet been rated!
    <% else %>
      <p>
        Beer has <%= beer.ratings.count %> ratings with an average rating of <%= beer.average_rating %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New beer", new_beer_path %>
