<% content_for :title, "Beers" %>

<h1>Beers</h1>

<% cache "beerlist-#{@order}", skip_digest: true do %>
  <div id="beers">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= link_to "Name", beers_path(order: "name")%></th>
          <th><%= link_to "Style", beers_path(order: "style")%></th>
          <th><%= link_to "Brewery", beers_path(order: "brewery")%></th>
          <th><%= link_to "Rating", beers_path(order: "rating")%></th>
        </tr>
      </thead>
      <% @beers.each do |beer| %>
        <tr>
          <td><%= link_to beer.name, beer %></td>
          <td><%= link_to beer.style.name, beer.style %></td>
          <td><%= link_to beer.brewery.name, beer.brewery %></td>
          <td>
            <% if beer.ratings.empty? %>
              0.0
            <% else %>
              <p>
                <%= round(beer.average_rating) %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= link_to('New Beer', new_beer_path, class:'btn btn-primary') if current_user %>
