<p style="color: green"><%= notice %></p>
<h1><%= @beer.name %></h1>
<table class="table table-striped table-hover">
  <tr>
    <th>Style</th>
    <th>Brewery</th>
  </tr>
  <tr>
    <td>
      <%= link_to @beer.style.name, @beer.style %>
    </td>

    <td>
      <%= link_to @beer.brewery.name, @beer.brewery %>
    </td>
  </tr>
</table>

<% if current_user %>
  <h4>Give a rating:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    <%= form.label :score, class: "form-label" %>
    <%= form.number_field :score, class: "form-control" %>
    <%= form.submit "Create rating", class: "btn btn-primary" %>
  <% end %>

  <div>
    <%= link_to "Edit this beer", edit_beer_path(@beer), class:'btn btn-primary' %>
    <%= button_to "Destroy this beer", @beer, method: :delete, class:'btn btn-danger' if current_user.admin %>
  </div>
<% end %>
