<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city, class:'form-control' %>
  <%= form.submit "Search", class:'btn btn-primary'%>
<% end %>

<% if @places %>
  <div>
    <h4><%= "The current beer weather in #{@weather["location"]["name"]}" %></h4>
    <p><%= "#{@weather["current"]["temperature"]} Celsius" %></p>
    <img src="<%= @weather["current"]["weather_icons"].first %>" alt="Weather Image"><br>

    <p><b>wind</b> <%= "#{@weather["current"]["wind_speed"]}, direction: #{@weather["current"]["wind_dir"].first}" %></p>
  </div>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>status</th>
      <th>street</th>
      <th>city</th>
      <th>zip</th>
      <th>country</th>
      <th>overall</th>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= link_to place.name, place_path(place.id) %></td>
        <td><%= place.status %></td>
        <td><%= place.street %></td>
        <td><%= place.city %></td>
        <td><%= place.zip %></td>
        <td><%= place.country %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </table>
<% end %>
